<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/patientlist" routerLinkActive="active" class="nav-link">
        Home
      </a>
    </li>

    

    <li class="nav-item">
      <a routerLink="/appointmentlist" routerLinkActive="active" class="nav-link">
        Appointments
      </a>
    </li>
  </ul>
</nav>
<div class="mb-3">
  <button class="btn btn-secondary" routerLink="/appointmentlist">
    ← Back to Appointments
  </button>
</div>

<div class="container">
  <h2 class="text-center">Add New Appointment</h2>

  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Name</label>

      <input
        type="text"
        id="name"
        class="form-control"
        placeholder="Enter Name"
        name="name"
        [(ngModel)]="appointment.name">
    </div>

    <div class="form-group">
      <label for="age">Age</label>

      <input
        type="text"
        id="age"
        class="form-control"
        placeholder="Enter Age"
        name="age"
        [(ngModel)]="appointment.age">
    </div>

    <div class="form-group">
      <label for="symtomps">Symptoms</label>

      <input
        type="text"
        id="symtomps"
        class="form-control"
        placeholder="Enter Symptoms"
        name="symtomps"
        [(ngModel)]="appointment.symtomps">
    </div>

    <div class="form-group">
      <label for="number">Enter Number</label>

      <input
        type="text"
        id="number"
        class="form-control"
        placeholder="Enter Number"
        name="number"
        [(ngModel)]="appointment.number">
    </div>

    <br>

    <button type="submit" class="btn btn-success">
      Sumbit
    </button>

  </form>
</div>