<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/patientlist" routerLinkActive="active" class="nav-link">
        Home
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/createpatient" routerLinkActive="active" class="nav-link">
        Add Patient
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/appointmentlist" routerLinkActive="active" class="nav-link">
        Appointments
      </a>
    </li>
  </ul>
</nav>

<div class="container">

  <hr>

  <h2 class="text-center mt-3">
    Admin Dashboard
  </h2>

  <marquee class="text-secondary fs-5">
    Welcome to Admin Dashboard.
    Please find the patient list below!!
    Click Appointments to view and update Appointments,
    Click Add Appointment to add new Appointment.
  </marquee>

  <hr>

  <h3 class="mb-4">
    Current Patient List in the Queue
  </h3>

  <table class="table table-striped table-bordered">

    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Fees</th>
        <th>Urgency</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let patient of patients">

        <td>{{ patient.id }}</td>
        <td>{{ patient.name }}</td>
        <td>{{ patient.age }}</td>
       
        <td>{{ patient.fees }}</td>
        <td>{{ patient.urgency }}</td>

        <td>
          <button
            (click)="delete(patient.id)"
            class="btn btn-danger btn-sm">
            Delete
          </button>
        </td>

      </tr>
    </tbody>

  </table>

</div>